html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center center;
  background-image: url('/public/images/backgrounds/Background_1.webp');
  color: #333;
}